@import "tailwindcss";

@theme{
    --color-primary:#899f87;
    --color-secondary:#e4ece0;
    --color-darkgreen:#3c5d39;
    --color-bg:#f2f6f0;
    --color-lines:#c8d8c0;
    --color-heading:#213721;
}

button:hover{
    cursor: pointer;
}